<table width="600" style="background-color: #ffffff;font-family: sans-serif;width: 600px;max-width: 600px;" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center" valign="top" width="600px">
            <img src="https://i.ibb.co/v4QRpqw/Group-384.png" alt="" width="600" height="186">
        </td>
    </tr>
    <tr><td height="43px">&nbsp;</td></tr>
    <tr>
        <td>
            <table width="532" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="font-size: 18px; font-weight: 700; color: #000;">Hi {{username}} 👋,</td>
                </tr>
                <tr><td height="10px">&nbsp;</td></tr>
                <tr>
                    <td style="font-size: 14px; font-weight: 400; line-height: 20px; color: #000;">
                        To keep your account safe 🔒, we’re requiring all users to enable Two-Factor Authentication (2FA). This adds an extra layer of security by asking for a second verification step in addition to your password.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td height="34px">&nbsp;</td></tr>
    <tr>
        <td align="center" style="font-size: 20px; font-weight: 500; color: #000;">
            🧾 Your One-Time Password (OTP)
        </td>
    </tr>
    <tr><td height="20px">&nbsp;</td></tr>
    <tr>
        <td>
            <table width="506" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="center" style="border-radius: 11px; background-color: #3E4065; padding: 20px 0;">
                        <div style="font-weight: 700; font-size: 36px; color: #4AFFA8; letter-spacing: 5px;">
                            {{totp}}
                        </div>
                    </td>
                </tr>
                <tr><td height="20px">&nbsp;</td></tr>
                <tr>
                    <td align="center" style="font-size: 14px;">
                        <span style="color: red; font-weight: 700;">⚠️ NOTE: </span>
                        <span style="color: #000; font-weight: 400;">This OTP is valid for <strong>5 minutes</strong> ⏱</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td height="50px">&nbsp;</td></tr>
    <tr>
        <td>
            <table width="532" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="color: red; font-weight: 700; font-size: 14px;">🚨 Important:</td>
                </tr>
                <tr>
                    <td style="color: #000; font-weight: 400; font-size: 14px;">
                        If you didn’t request this code, please contact our support team immediately 🛟.
                    </td>
                </tr>
                <tr><td height="28px">&nbsp;</td></tr>
                <tr>
                    <td style="color: #000; font-weight: 400; font-size: 14px;">
                        Thank you for helping us keep your account secure 🛡️.
                    </td>
                </tr>
                <tr><td height="42px">&nbsp;</td></tr>
                <tr>
                    <td style="color: #000; font-weight: 400; font-size: 14px;">Best regards,</td>
                </tr>
                <tr>
                    <td style="color: #000; font-weight: 700; font-size: 14px;">URL Shortner Team ✉️</td>
                </tr>
                <tr><td height="55px">&nbsp;</td></tr>
                <tr>
                    <td align="center">
                        <img src="https://i.ibb.co/DGYJcSy/Line-9.png" alt="" width="532" height="1">
                    </td>
                </tr>
                <tr><td height="15px">&nbsp;</td></tr>
                <tr>
                    <td align="center">
                        <img src="https://i.ibb.co/mCLYmF0/Frame-104.png" alt="" width="132" height="30">
                    </td>
                </tr>
                <tr><td height="20px">&nbsp;</td></tr>
                <tr>
                    <td align="center" style="font-size: 14px; font-weight: 400; color: #000;">
                        © 2024 - Url Shortner, All rights reserved
                    </td>
                </tr>
                <tr><td height="20px">&nbsp;</td></tr>
                <tr>
                    <td align="center">
                        <img src="https://i.ibb.co/X8vmfXb/Line-11-1.png" alt="" width="442" height="1">
                    </td>
                </tr>
                <tr><td height="20px">&nbsp;</td></tr>
                <tr>
                    <td align="center">
                        <img src="https://i.ibb.co/GFMMnS0/Group-387.png" alt="" width="120" height="28">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
